$grey: #525252;

@mixin box-shadow($h, $v, $blur, $color) {
  box-shadow: $h $v $blur $color;
  -webkit-box-shadow: $h $v $blur $color;
  -moz-box-shadow: $h $v $blur $color;
}

@mixin text-shadow($h, $v, $blur, $color) {
  text-shadow: $h $v $blur $color;
}

@mixin round-corners($size: 5px) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

@mixin droid {
  font: {
    family: 'Droid Sans', 'Helvetica', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  }
}

@mixin droid-mono {
  font: {
    family: 'Droid Sans Mono', 'Andale Mono', 'Courier New', monospace;
  }
}

@mixin transition($value, $time: 0.25s, $method: ease-in) {
  -webkit-transition: $value $time $method;
  -moz-transition: $value $time $method;
  -o-transition: $value $time $method;
}

html, body {
  @include droid;
  color: $grey;
}

body {
  margin: {
    top: 65px;
  }
}

a, a:visited {
  text: {
    decoration: none;
  }
}

a:hover {
  border: {
    bottom: 1px dotted;
  }

  text: {
    decoration: none;
  }
}

ol {
  li {
    margin: {
      left: 25px
    }
  }
}

code {
  @include droid-mono;
  display: inline;
  padding: 0px;
}

pre {
  @include droid-mono;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

ul, ol {
  margin: 0 0 1.52em;
}

.small, .footnote {
  font: {
    size: 0.8em;
  }
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.bright {
  margin-right: 10px;
}

.bbottom {
  margin-bottom: 10px;
}

.bleft {
  margin-left: 10px;
}

.btop {
  margin-top: 10px;
}

.mcenter {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}

header {
  @include box-shadow(0px, 0px, 5px, black);

  h1 {
    margin: 0px;
  }

  nav {
    ul {
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;

      li {
        display: inline;
      }
    }

    margin: {
      right: 10px;
    }
  }

  a {
    @include transition(color);

    &:hover {
      color: white;
    }
  }

  #where, .rss {
    img {
      @include transition(opacity);

      opacity: 0.65;

      &:hover {
        opacity: 1;
      }
    }
  }

  .rss {
    position: absolute;
    top: 20px;
    right: 175px;

    &:hover {
      border: 0px
    }
  }

  #where {
    a {
      &:hover {
        border: 0px
      }
    }

    position: absolute;
    top: 21px;
    right: 207px;
  }

  #search {
    input[type=text] {
      @include transition(opacity);
      @include round-corners(10px);

      background: white;
      opacity: 0.65;

      &:hover, &:focus {
        outline: none;
        opacity: 1;
      }
    }

    input[type=image] {
      position: absolute;
      top: 6px;
      right: 8px;
      opacity: 0.65;
    }

    position: absolute;
    top: 20px;
    right: 5px;
  }

  padding: {
    top: 0px;
    bottom: 10px;
    left: 5px;
  }

  background: black;
  color: white;
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
}

#content {
  article {
    @include transition(background);
    @include round-corners;

    .snippet {
      margin: {
        bottom: 10px;
      }
    }

    .extra_links {
      height: 1.5em;
    }

    h2 {
      margin: 0px;
    }

    .archive_title {
      display: inline;
    }

    margin: {
      bottom: 10px;
    }

    padding: 5px;
    margin: 5px 0px;

    &:hover {
      $back: transparentize(black, 0.9);
      background: $back;
    }
  }

  .post {
    .content {
      a, a:visited {
        border: {
          bottom: 1px dotted;
        }

        &:hover {
          color: black;
        }
      }

      font: {
        size: 110%;
      }
    }

    h1 {
      margin: 0px;
    }
  }

  .page {
    a, a:visited {
      border: {
        bottom: 1px dotted;
      }

      &:hover {
        color: black;
      }
    }
  }

  .meta {
    time {
      text: {
        transform: uppercase;
      }
    }

    margin: {
      bottom: 10px;
    }
  }

  #archives {
    font: {
      weight: bold;
    }

    text: {
      align: center;
    }
  }
}

#sidebar {
  section {
    ul {
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
    }

    margin: {
      bottom: 20px
    }
  }
}

footer {
  text: {
    align: center;
  }

  padding: {
    top: 10px;
    bottom: 10px;
  }
}

.twitter-share-button {
  position: fixed;
  top: 75px;
  left: 5px;
}