.page.content
  :textile
    h1. The Man

    I am a software engineer ("EIT":http://www.apegga.org/applicants/Engineers/mit.html) in Edmonton, Alberta, Canada. I enjoy all kinds of programming, except assembly, which is the bane of my existence.

    * "University of Alberta":http://www.ualberta.ca/ graduate (Software Engineering, 2009)
    * "APEGGA":http://www.apegga.org/ "Engineer-in-Training":http://www.apegga.org/applicants/Engineers/mit.html
    * Blogger (technical and other)
    * Gamer (PC, Xbox, DS)
    * Mountain Biker
    * Musician (Guitar)
    * "Rocker of dreadlocks":http://blog.darkhax.com/2010/03/18/where-my-programming-power-comes-from (since 2003)
    * Keeper of many pets (various reptiles, some birds, and a ferret)
    * Movie critic

    I enjoy good food, better wine, quality cigars, and "badass pipes":http://www.lorenzettipipe.com/. I work hard and play hard. I get the job done, and get it done right, the first time. I speak my mind and listen when others speak theirs.

    I work for "Yardstick Software":http://www.yardsticksoftware.com/

    h1. The Legend

    My resume can be seen over at "stackoverflow careers":http://careers.stackoverflow.com/darkhelmetlive

    In addition to the icon links in the header, I'm at "The Trilogy":http://blog.stackoverflow.com/2009/05/the-stack-overflow-trilogy/: "stackoverflow":http://stackoverflow.com/users/4657/daniel-huckstep "serverfault":http://serverfault.com/users/1200/daniel-huckstep "superuser":http://superuser.com/users/2086/daniel-huckstep

    I'm also on "github":http://github.com/darkhelmet

    h1. The Site

    I designed the theme for, and built this blog from scratch. On a MacBook Pro. There was no app for that. "Check out the code":https://github.com/darkhelmet/darkblog2

    This site is proudly running on "Heroku":http://heroku.com/

    For a full sitemap of this site, see "here":/sitemap.xml

    Header icons by: <span xmlns:cc="http://creativecommons.org/ns#" about="http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/"><a rel="cc:attributionURL" property="cc:attributionName" href="http://komodomedia.com">Komodo Media, Rogie King</a> / <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></span>