.page.content
  :textile
    h1. Projects

    These are some things I'm working on, or have done in the past.

    h2. "kindlebility":http://kindlebility.darkhax.com/

    kindlebility allows you with the click of a bookmark, to send almost any page on the web to your Kindle for reading at a later time.

    "Watch the intro screencast":http://vimeo.com/17458819

    * Platform: "nodejs":http://nodejs.org/
    * Language: Javascript
    * Hosting: "Rackspace":http://www.rackspacecloud.com/1348.html with "Mongrel2":http://mongrel2.org/
    * Links
    ** "Source":https://github.com/darkhelmet/kindlebility
    ** "Webpage":http://kindlebility.darkhax.com/

    h2. "shortestpaper":http://shortestpaper.darkhax.com/

    shortestpaper is a proxy to "Instapaper":http://www.instapaper.com/ which orders your unread articles by their length, shortest first.
    !http://cdn.verboselogging.com/uploads/projects/large_shortestpaper.png!:http://cdn.verboselogging.com/uploads/projects/shortestpaper.png

    * Platform: "nodejs":http://nodejs.org/
    * Language: Javascript
    * Hosting: "Rackspace":http://www.rackspacecloud.com/1348.html with "Mongrel2":http://mongrel2.org/
    * Links
    ** "Source":https://github.com/darkhelmet/shortestpaper
    ** "Webpage":http://shortestpaper.darkhax.com/

    h2. "node-mongrel2":https://github.com/darkhelmet/node-mongrel2

    node-mongrel2 is a "Mongrel2":http://mongrel2.org/ handler for "nodejs":http://nodejs.org/

    * Platform: "nodejs":http://nodejs.org/
    * Language: Javascript
    * Links
    ** "Source":https://github.com/darkhelmet/node-mongrel2

    h2. "rack-mongrel2":https://github.com/darkhelmet/rack-mongrel2

    rack-mongrel2 is a "Mongrel2":http://mongrel2.org/ handler for "rack":http://rack.rubyforge.org/

    * Platform: "rack":http://rack.rubyforge.org/
    * Language: ruby
    * Links
    ** "Source":https://github.com/darkhelmet/rack-mongrel2
    ** "Blog post":http://blog.darkhax.com/2010/10/26/deploying-your-ruby-app-with-mongrel2

    h2. "sinatra-bundles":https://github.com/darkhelmet/sinatra-bundles

    sinatra-bundles is an extension to bundle and compress Javascript and CSS assets for "sinatra":http://www.sinatrarb.com/

    * Platform: "sinatra":http://www.sinatrarb.com/
    * Language: ruby
    * Links
    ** "Source":https://github.com/darkhelmet/sinatra-bundles

    h2. "rack-gist":https://github.com/darkhelmet/rack-gist

    rack-gist rewrites Github gist script includes to make them load asynchronously, without blocking your page from loading.

    * Platform: "rack":http://rack.rubyforge.org/
    * Language: ruby
    * Links
    ** "Source":https://github.com/darkhelmet/rack-gist
    ** "Blog post":http://blog.darkhax.com/2010/07/16/rack-gist-the-gists-are-now-diamonds

    h2. "goo.gl":https://github.com/darkhelmet/goo.gl

    goo.gl is a little API endpoint to use Google's URL shortener to shorten URLs in the Twitter iPhone client.

    * Platform: "sinatra":http://www.sinatrarb.com/
    * Language: ruby
    * Hosting: "Heroku":http://heroku.com/
    * Links
    ** "Source":https://github.com/darkhelmet/goo.gl

    h2. Twitter Link Filter Bookmarklet

    Filter out tweets without links using a simple bookmarklet. Drag it up and go to town.

    "Filter Links":javascript:(function() { setInterval(function() { $('.main-content .stream-item:not(:has(.twitter-timeline-link))').fadeOut(function() { $(this).remove(); }); }, 1000); })();

    h2. "Twitter Catch Up":https://github.com/darkhelmet/twitter-catch-up

    Twitter Catch Up is a Chrome extension that removes tweets without links (deprecated in favor of the previous bookmarklet).

    * Platform: "Google Chrome":http://chrome.google.com/
    * Language: Javascript
    * Links
    ** "Source":https://github.com/darkhelmet/twitter-catch-up
    ** "Webpage":https://chrome.google.com/extensions/detail/poamgdllmljoaajemjegicggdfcmiidl