- content_for(:title, title_text('Projects'))
.page.content
  :textile
    h1. Projects

    These are some things I'm working on, or have done in the past.

    h2. "Tinderizer":http://Tinderizer.com/

    Tinderizer allows you with the click of a bookmark, to send almost any page on the web to your Kindle for reading at a later time.

    * Platform: "jRuby":http://jruby.org/
    * Language: Ruby
    * Hosting: "Rackspace":http://www.rackspacecloud.com/1348.html
    * Links
    ** "Source":https://github.com/darkhelmet/Tinderizer
    ** "Webpage":http://Tinderizer.com/

    h2. "fetch":https://github.com/darkhelmet/fetch

    fetch is a super simple full text search engine written in Go.

    * Language: "Go":http://golang.org/
    * Links
    ** "Source":https://github.com/darkhelmet/fetch

    h2. "sinatra-bundles":https://github.com/darkhelmet/sinatra-bundles

    sinatra-bundles is an extension to bundle and compress Javascript and CSS assets for "sinatra":http://www.sinatrarb.com/

    * Platform: "sinatra":http://www.sinatrarb.com/
    * Language: ruby
    * Links
    ** "Source":https://github.com/darkhelmet/sinatra-bundles

    h2. "rack-gist":https://github.com/darkhelmet/rack-gist

    rack-gist rewrites Github gist script includes to make them load asynchronously, without blocking your page from loading.

    * Platform: "rack":http://rack.rubyforge.org/
    * Language: ruby
    * Links
    ** "Source":https://github.com/darkhelmet/rack-gist
    ** "Blog post":http://blog.darkhax.com/2010/07/16/rack-gist-the-gists-are-now-diamonds

    h2. "goo.gl":https://github.com/darkhelmet/goo.gl

    goo.gl is a little API endpoint to use Google's URL shortener to shorten URLs in the Twitter iPhone client.

    * Platform: "sinatra":http://www.sinatrarb.com/
    * Language: ruby
    * Hosting: "Heroku":http://heroku.com/
    * Links
    ** "Source":https://github.com/darkhelmet/goo.gl

    h2. Twitter Link Filter Bookmarklet

    Filter out tweets without links using a simple bookmarklet. Drag it up and go to town.

    <a href="javascript:(function() { setInterval(function() { $('.main-content .stream-item:not(:has(.twitter-timeline-link))').fadeOut(function() { $(this).remove(); }); }, 1000); })();">Filter Links</a>
