.page
  :textile
    h1. Talks I've Done

    I enjoy giving talks. Here are some of the ones I've done (the ones with slides anyway).

    h2. Edmonton Rubyists

    * "Fly your HTTP to the Moon - March 2, 2010":http://darkhelmet.github.com/talks/fly-your-http-to-the-moon/
    * "RVM: Ruby cranked up to 11 - September 21, 2010":http://rvm-ruby-cranked-up-to-11.heroku.com/