.page
  :textile
    h1. Talks I've Done

    Since I haven't used it for anything yet, I'm hosting my talks on "Github Pages":http://pages.github.com/. They're made with "slidedown":http://github.com/nakajima/slidedown.

    h2. Edmonton Rubyists

    * "Fly your HTTP to the Moon - March 2, 2010":http://darkhelmet.github.com/talks/fly-your-http-to-the-moon/