%hr
%h5 Sharing is Caring
#rdbWrapper{ 'data-show-send-to-kindle' => 1, 'data-show-print' => 1, 'data-show-email' => 1 }
= link_to('Tweet', 'http://twitter.com/share', :class => 'twitter-share-button', 'data-count' => 'horizontal', 'data-via' => 'darkhelmetlive')
#fb-root
.fb-like{ 'data-send' => 'true', 'data-layout' => 'button_count', 'data-width' => '150', 'data-show-faces' => 'true' }
%plusone