- Post.group_by_month.each do |month, posts|
  %section
    %h1= monthly_archive_link(month)
    - posts.each do |post|
      %article
        %h4.archive_title= link_to(post.title, post_permalink(post))
= render(:partial => 'layouts/archive_links')