- content_for(:description, 'Full archives')
- content_for(:title, title_text('Full archives'))
- content_for(:canonical, archive_url('full'))
- Post.publish_order.each do |post|
  %article
    %h4.archive_title= link_to(post.title, post_permalink(post))
    &raquo;
    %time{ :datetime => post.published_on.xmlschema }
      = time_ago_in_words(post.published_on)
      ago
= render(:partial => 'layouts/archive_links')