- content_for(:description, "Articles in the #{params[:category]} category")
- content_for(:title, title_text("#{params[:category].capitalize} articles"))
- content_for(:canonical, category_url(params[:category]))
= render(:partial => 'post_preview', :collection => @posts)