- title = "Articles tagged with '#{params[:tag]}'"
- content_for(:description, title)
- content_for(:title, title_text(title))
- content_for(:canonical, tag_url(params[:tag]))
- cache([title, @posts].hash) do
  %h1= title
  = render(partial: 'post_preview', collection: @posts)