@mixin droid {
  font-family: 'Droid Sans', 'Helvetica', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

@mixin droid-mono {
  font-family: 'Droid Sans Mono', 'Andale Mono', 'Courier New', monospace;
}

@mixin box-shadow($h, $v, $blur, $spread, $color) {
  box-shadow: $h $v $blur $spread $color;
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
}

@mixin round-corners($size: 5px) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

@mixin transition($value, $time: 0.25s, $method: ease-in) {
  -webkit-transition: $value $time $method;
  -moz-transition: $value $time $method;
  -o-transition: $value $time $method;
}
