.page
  %h1 404 Not Found
  = image_tag('kitty.png', :class => 'mcenter')
  %h5 Every time you get a 404, a kitten cries.
  %h5
    You should probably click on some links. If this URL was supposed to work,
    = link_to('let me know', '/contact')