= jquery_tag('1.4.4')
= javascript_include_tag(Bundles.javascript_bundles[:all].to_path)
= javascript_include_tag('http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js')
= javascript_include_tag('http://assets.skribit.com/javascripts/SkribitSuggest.js')
:javascript
  CFInstall.check({
    mode: 'overlay'
  });
  if ($.showExtras()) {
    SkribitSuggest.suggest('http://skribit.com/lightbox/verbose-logging', {
      placement: 'right',
      color: '#333333',
      text_color: 'white',
      distance_vert: '32%',
      distance_horiz: ''
    });
  }