= javascript_include_tag('http://static.woopra.com/js/woopra.v2.js')
= javascript_include_tag('http://assets.skribit.com/javascripts/SkribitSuggest.js')
:javascript
  woopraTracker.track();
  SkribitSuggest.suggest('http://skribit.com/lightbox/verbose-logging', {
    placement: 'right',
    color: '#333333',
    text_color: 'white',
    distance_vert: '32%',
    distance_horiz: ''
  });