- related = PostDecorator.decorate(@post.related)
- unless related.empty?
  %hr
  %h5 If you liked this post, you might like these:
  %ul
    - related.each do |related_post|
      %li= related_post.link