%section#author
  = gravatar('darkhelmet@darkhelmetlive.com', 280)
  Daniel Huckstep is a software engineer (EIT) in
  = link_to('Edmonton, Alberta, Canada', "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Edmonton,+Alberta,+Canada&sll=53.543564,-113.490452&sspn=0.456975,1.234589&ie=UTF8&hq=&hnear=Edmonton,+Division+No.+11,+Alberta,+Canada&t=h&z=11")
%section#categories
  %h3 Categories
  - Post.categories.each do |category|
    = category_link(category)
%section#shout_out
  Hosting by:
  %br
  = image_tag('heroku.png')

